{% extends "layout.html" %}

{% block title %}Query 2{% endblock %}

{% block main %}
<header>
    <h1>Query 2</h1>
    <h2>List the users who posted at least two items that were posted on the same day, one has a category
        of X, and another has a category of Y.</h2>
    <p>
        In terms of the user interface, you will implement two
        text fields so that you can input one category into each text field, and the search will return the
        user (or users) who (the same user) posted two different items on the same day, such that one
        item has a category in the first text field and the other has a category in the second text field.
    </p>
</header>
<section>
    <p>
        <b>All currently registered users:</b>
        {% for user in all_users %}
        <span>{{ user.username }}</span>,
        {% endfor %}
    </p>
    <ul>
        {% for user in users %}
        <li>{{ user.username }} has never had an item that was considered "excellent"</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}