{% extends "layout.html" %}

{% block title %}Query 3{% endblock %}

{% block main %}
<header>
    <h1>Query 3</h1>
    <h2>List all the items posted by user X, such that all the comments are "Excellent" or "good" for
        these items. User X is arbitrary and will be
        determined by the instructor.</h2>
    <p>
        in other words, these items must have comments, but these items don't have any
        other kinds of comments, such as "bad" or "fair" comments
    </p>
</header>
<section>
    <p>
        <b>All currently registered users:</b>
        {% for user in all_users %}
        <span>{{ user.username }}</span>,
        {% endfor %}
    </p>
    <form action="/query-3" method="post">
        <label for="user">Select a user:</label>
        <select name="user" id="user">
            <option disabled selected>Select a user</option>
            {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    {% if username %}
    <div>
        <h3>Best of <b>{{ username }}'s</b> items</h3>
        <ul>
            {% for item in items %}
            <li>{{ item.title }} had all "excellent" or "good" reviews</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endblock %}