{% extends "layout.html" %}

{% block title %}Query 4{% endblock %}

{% block main %}
<header>
    <h1>Query 4</h1>
    <h2>List the users who posted the most number of items on a specific date like {{ hardcoded_date }}; if there is
        a tie, list all the users who have a tie. The specific date can be hard coded into your SQL select
        query or given by the user. </h2>
</header>
<section>
    <p>
        <b>All currently registered users:</b>
        {% for user in all_users %}
        <span>{{ user.username }}</span>,
        {% endfor %}
    </p>
    <div>
        <h3>Users with the most number of posts on {{ hardcoded_date }}</h3>
        <ul>
            {% for user in selected_users %}
            <li>{{ user.username }} with {{ user.post_count }} items posted</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}