{% extends "layout.html" %}

{% block title %}Query 1{% endblock %}

{% block main %}
<header>
    <h1>Query 1</h1>
    <h2>List the most expensive items in each category</h2>
</header>
<section>
    <p>
        <b>All currently registered users:</b>
        {% for user in all_users %}
        <span>{{ user.username }}</span>,
        {% endfor %}
    </p>
    <ul>
        {% for item in items %}
        {% if item.title == None %}
        <li><b>{{ item.category_name }}</b>: No items</li>
        {% else %}
        <li><b>{{ item.category_name }}</b>: {{ item.title }}, priced ${{ item.price }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endblock %}