{% extends "layout.html" %}

{% block title %}Query 3{% endblock %}

{% block main %}
<header>
    <h1>Query 3</h1>
    <h2>List all the items posted by user X, such that all the comments are "Excellent" or "good" for
        these items. User X is arbitrary and will be
        determined by the instructor.</h2>
    <p>
        in other words, these items must have comments, but these items don't have any
        other kinds of comments, such as "bad" or "fair" comments
    </p>
</header>
<section>
    <!-- Code here -->
</section>
{% endblock %}