{% extends "layout.html" %}

{% block title %}Query 2{% endblock %}

{% block main %}
<header>
    <h1>Query 2</h1>
    <h2>List the users who posted at least two items that were posted on the same day, one has a category
        of X, and another has a category of Y.</h2>
    <p>
        In terms of the user interface, you will implement two
        text fields so that you can input one category into each text field, and the search will return the
        user (or users) who (the same user) posted two different items on the same day, such that one
        item has a category in the first text field and the other has a category in the second text field.
    </p>
</header>
<section>
    <p>
        <b>All currently registered users:</b>
        {% for user in all_users %}
        <span>{{ user.username }}</span>,
        {% endfor %}
    </p>
    <form action="/query-2" method="post">
        <!-- Category X -->
        <label for="category-1">Select category 1:</label>
        <select name="category-1" id="category-1">
            <option disabled selected>Select a category</option>
            {% for category in categories %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>

        <!-- Category Y -->
        <label for="category-2">Select category 2:</label>
        <select name="category-2" id="category-2">
            <option disabled selected>Select a category</option>
            {% for category in categories %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    {% if selected_users %}
    <div>
        <h3>Users that have posted two items falling on two selected categories:</h3>
        <ul>
            {% for user in selected_users %}
            <li>{{ user.username }} had two items from categories {{category_1}} and {{ category_2 }}</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    None selected or none was returned
    {% endif %}
</section>
{% endblock %}