{% extends "layout.html" %}

{% block title %}Home | Item listings{% endblock %}

{% block main %}
    <link rel="stylesheet" href="static/styles/index_styles.css" />

    <section class="container">
        <h1>Hello, {{ username }}!</h1>

        <div class="button">
            <form action="/initialize" method="post">
                <button type="submit">Initialize database</button>
            </form>
        </div>

        <p>Click <a href="/submit_listing">here</a> to post an item!</p>


        <h2>Listings</h2>
        
            {% for listing in listings %}
                <!-- Make each listing element clickable -->
                <div class="listing">
                    <a href="/listing/id={{ listing.item_id }}">
                        <h3>{{ listing.title }}</h3>
                        <p>Posted by {{ listing.author }}</p>
                        <p>Description: {{ listing.description }}</p>
                        <p>Price: {{ listing.price }}</p>
                        <p>Category: {{ listing.category }}</p>
                        <p>Uploaded: {{ listing.created_at }}</p>
                    </a>
                </div>
            {% endfor %}
        
    </section>
{% endblock %}