{% extends "layout.html" %}

{% block title %}Home | Item listings{% endblock %}

{% block main %}
    <link rel="stylesheet" href="static/styles/index_styles.css" />

    <section class="container">
        <h1>Hello, {{ username }}!</h1>

        <div class="button">
            <form action="/initialize" method="post">
                <button type="submit">Initialize database</button>
            </form>
        </div>

        <p>Click <a href="/templates/post_item.html">here</a> to post an item!</p>


        <h2>Listings</h2>
        <div class="listing">
            {% for listing in listings %}
                <h3>{{ listing.title }}</h3>
                <p>Description: {{ listing.description }}</p>
                <p>Price: {{ listing.price }}</p>
                <p>ID: {{ listing.item_id }}</p>
                <p>Uploaded: {{ listing.created_at }}</p>
            {% endfor %}
        </div>
        
    </section>
{% endblock %}