*{
    margin:0;
    padding:0;
}

body{
    background-image: url('stretched-2256-1504-1329972.png');
    background-size: cover;
}

input{
    display: block;
    color: white; 
}

.main{
    height: 100vh;
    display:flex;
}

.child{
   height: 540px;
   width: 400px;
   margin: auto;
   border: 2px solid black;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(15px);
}

h1,p,a{
    text-align: center;
}

.username,.firstName,.lastName,.email,.password{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    margin: 15px;
}

.btn{
    height: 30px;
    width: 300px;
    border: none;
    margin: 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
}

.log{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

::placeholder{
    color: white;  

}